// Sizing shortcuts
.size(@width; @height) {
	width: @width;
	height: @height;
}

.transition(@duration; @property: all; @function: ease-out) {
	-webkit-transition: @property @duration @function;
	-moz-transition: @property @duration @function;
	-ms-transition: @property @duration @function;
	-o-transition: @property @duration @function;
	transition: @property @duration @function;
}


.rounded-corners (@radius) {
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	-ms-border-radius: @radius;
	-o-border-radius: @radius;
	border-radius: @radius;
}

.no-user-select {
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	/* No support for these yet, use at own risk */
	-o-user-select: none;
	user-select: none;  
}